version: '3.8'

services:
  app:
    image: node:18
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm start"
    environment:
      - PORT=3000
      - DATABASE_URL=postgres://user:password@db:5432/reservation_db

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=reservation_db
    ports:
      - "5432:5432"
